.change-bg{
    background-color: #f8f9fa;
}
.portfolio-header-wrapper{
    display: flex;
    align-items: baseline;
}

.portfolio-header{
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}
.portfolio-name{
    margin-left:10px
}
.portfolio-parent{
    margin-top:20px;
}
.card-data{
    font-weight: 500;
}
.smackdab-in-the-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.main-card{
    margin-bottom: 20px;
}
.arrow-ko-upar-kar svg{
    vertical-align: unset !important;
}
.this-annoying-row{
    max-width: 100% !important;
}