.search-title {
  font-size: 30px;
  padding: 20px 0;
  color: #000;
}
.loader{
display: flex;
justify-content: center;
margin-top:30px ;
}

.alert-styling{
  margin-top:20px;
text-align: center;
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
