.cards{
    margin-top: 30px;
    padding: 10px;
}
.sym{
    font-size:x-large;
}
.comp{
    font-size: large;
}
.watchlist-parent{
    display: flex;
    justify-content: center;
    width: 100%;
}

.watchlist-header{
    margin-top:20px;
}

.cards button{
    all: unset;
    max-width: 15px;
    max-height: 15px;
    margin-bottom: 15px;
}
.cards button:hover{
    cursor: pointer;
}
.smackdab-in-the-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}